body{
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #151515;
}

a{
    margin: 1rem;
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    color: snow;
}

p{
    text-wrap: pretty;
    margin: 1rem;
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    text-decoration: none;
    transition: 0.3s;
}

div.maincard1{
    flex-direction: column;
    display: flex;
    padding: 0.5rem;
    background-color: #252525;
    outline: 0.1rem solid bisque;
    border-radius: 0.5rem;
}

div.title{
    display: flex;
}