@font-face {
	font-family: Inter;
	src: url(Inter.ttf);
}

body{
	background-color: rgba(25, 0, 25, 1);
	margin: 0 0;
	background-attachment: fixed;
	background-size: cover;
}

a{
	color: #dddddd;
	font-family: Inter;
	font-size: 2rem;
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0);
	line-height: normal;
	transition: all 150ms ease-in, text-decoration-color 150ms ease-in;
}

a:hover{
	color: rgba(125, 0, 125, 1);
	transition: color 100ms ease-in;
	font-family: Inter;
	font-size: 1.9rem;
	line-height: normal;
	text-decoration-color: rgba(125, 0, 125, 1);
	transition: all 150ms ease-in, text-decoration-color 150ms ease-in;
}

.navbar ul{
	list-style-type: none;
	text-wrap: nowrap;
	overflow: hidden;
	padding: 0;
	margin: 1rem;
	border-radius: 20px;
	background: rgba(25, 0, 25, 1);
	box-shadow: 2px 2px 1px 0px rgba(255, 255, 255, 0.25) inset, -2px -2px 1px 0px rgba(0, 0, 0, 1) inset;
}

.navbar a{
	display: block;
	padding: 1rem;
	text-align: center;
}

.navbar li{
	float: left;
}

.navbarbottom ul{
	list-style-type: none;
	text-wrap: nowrap;
	overflow: hidden;
	padding: 0;
	margin: 1rem;
	border-radius: 20px;
	background: rgba(25, 0, 25, 1);
	box-shadow: 2px 2px 1px 0px rgba(255, 255, 255, 0.25) inset, -2px -2px 1px 0px rgba(0, 0, 0, 1) inset;
}

.navbarbottom a{
	display: block;
	padding: 1rem;
	text-align: center;
}

.navbarbottom p{
	color: #dddddd;
	font-family: Inter;
	font-size: 1.7rem;
	width: auto;
	word-spacing: .5rem;
	text-align: center;
}

.secondarythings{
	display: flex;
	flex-direction: row;
}

.home{
	margin: 2rem;
	
}

.home p{
	color: #dddddd;
	font-family: Inter;
	font-size: 1.7rem;
	width: auto;
	margin-right: 6rem;
	line-height: 3rem;
	word-spacing: .5rem;
}

.home a{
	cursor: default;
	font-size: 2.5rem;
}