@font-face {
	font-family: Inter;
	src: url(assets/Inter.ttf);
}

body{
	background: url(assets/bg.png);
	margin: 0 0;
	background-attachment: fixed;
	background-size: cover;
}

a{
	color: #FFF;
	font-family: Inter;
	font-size: 32px;
	text-decoration: none;
	line-height: normal;
}

.header{
	padding: 25px;
	flex-shrink: 0;
	margin: 15px 15px;
	border-radius: 20px;
	background: #0A0A1E;
	box-shadow: 2px 2px 1px 0px #373741 inset, -2px -2px 1px 0px rgba(0, 0, 0, 0.25) inset;
}

.secondarythings{
	display: flex;
	flex-direction: row;
}

.secs{
	float: right;
	margin-left: 7rem;
}

